<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        
        <figure>
            <img class="portrait" src="/img/batman.jpg" alt="Batman_Placeholder">
            <figcaption>This is just a placeholder image...</figcaption>
        </figure>

        <p>This website was made using Node.js using the Weatherstack and Mapbox APIs.</p>
        <p>I intend on gradually improving the aesthetics and functionality of this app as I upskill in more development tools.</p>
        <p>Thanks for visiting!</p>
        
    </div>

    {{>footer}}
</body>

</html>